.container{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    border: 1px double black;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.table-card{
    height: 200px;
    width: 100px;
    border: 1px solid black;
}