*{
    margin: 0;
    box-sizing: border-box;
}

/* home */

.m-color{
    background-color: #943E41;
    height: 100vh;
}

.button-home{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    background-color: #59B1EF;
    margin: 1rem;
    text-align: center;
    font-size: 10rem;
    box-shadow: 2px 5px gray;
}

.button-home:hover{
    border: 3px solid black;
    box-shadow: 0px 0px gray;
}

.menu-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a{
    text-decoration: none;
    color: #47E1FA;
}

a:visited{
    color: #47E1FA;
}

/* index game */

.game-card{
    width: 200px;
    height: 100px;
}

.img{
    width: 100%;
    height: 100%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFN_pEH8zsBDV_zuOJdMrf3ojE4p3wzXY3Ag&usqp=CAU');
    background-size: cover;
    text-align: center;
    background-position: center;
    border: 1px solid transparent
}

.img:hover{
    color: red;
    border: 1px solid black;
}

.game-container{
    width: 80%;
    height: 100%;
    padding-top: 10%;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}